<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
      <dd><%= image_tag @product.image.url(:medium) %></dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @product.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @product.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
      <dd><%= @product.quantity %></dd>
      <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
      <dd><%= @product.price %></dd>
    </dl>

    <div class="pull-right">
      <% if @product.quantity > 0 %>
      <%= link_to "Add to cart", add_to_cart_product_path(@product), method: :post, :class => "btn btn-primary btn-lg btn-info" %>
      <% else %>
        There aren't products in stock
      <% end %>
    </div>

  </div>
</div>